@import "tailwindcss";

@theme {
  --color-accent: #aa3bff;
  --color-accent-bg: rgba(170, 59, 255, 0.1);
  --color-accent-border: rgba(170, 59, 255, 0.5);
  --color-social-bg: rgba(244, 243, 236, 0.5);
  --color-border-main: #e5e4e7;
  
  --shadow-custom: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

body {
  margin: 0;
  background-color: white;
  font-family: "Gill Sans", sans-serif;
}